[submodule "deps/SageVM"]
	path = deps/SageVM
	url = https://github.com/Night-Traders-Dev/SageVM.git
[submodule "rtos/SageRTOS"]
	path = rtos/SageRTOS
	url = https://github.com/Night-Traders-Dev/SageRTOS/
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/Night-Traders-Dev/SageBoot
[submodule "fs/sagefs"]
	path = fs/sagefs
	url = https://github.com/Night-Traders-Dev/SageFS
