[submodule "deps/SageVM"]
	path = deps/SageVM
	url = https://github.com/Night-Traders-Dev/SageVM.git
[submodule "rtos/SageRTOS"]
	path = rtos/SageRTOS
	url = https://github.com/Night-Traders-Dev/SageRTOS/
